* {
  @include css-reset;
}

// NavBar
.logo {
  @include logo-style;
}

.btn {
  @include button-style;
  @include flex-center;
}

.btn-primary {
  width: 120px;
  height: 35px;
}

.btn-secondary {
  width: 150px;
  height: 40px;
}

.btn-secondary-clr {
  background-color: $secondary-color;
  color: $primary-color;
}

.btn-secondary-clr:hover {
  background-color: $tertiary-color;
  color: $primary-color;
  cursor: pointer;
}

.btn-center-page {
  margin: auto;
}

.nav-container {
  @include flex-center;
  width: 1152px;
  justify-content: space-between;
  margin: auto;
  padding-top: 10px;
  height: 50px;
}

// Hero

.active {
  display: block;
}

.inactive {
  display: none;
}

.carousel-container {
  position: relative;
  padding-bottom: 15px;

  .carousel-content-container {
    width: 1152px;
    margin: auto;
  }

  .carousel-prev-next-btn {
    margin: auto;
  }

  .prev,
  .next {
    position: absolute;
    top: 55%;
    font-size: 40px;
    color: $primary-color;
  }

  .next {
    right: 5%;
  }

  .prev {
    left: 5%;
  }

  .next:hover,
  .prev:hover {
    color: $secondary-color;
    opacity: 0.5;
    cursor: pointer;
  }

  .carousel-item {
    padding: 60px 0px;

    .carousel-txt-content {
      width: 688px;
      height: 140px;
      margin: auto;

      .carousel-title {
        text-transform: uppercase;
        padding-bottom: 30px;
      }

      .carousel-content,
      .carousel-title {
        text-align: center;
      }
    }

    .carousel-img-container {
      width: 1152px;
      display: flex;
      gap: 24px;
      padding-top: 30px;

      .second,
      .down {
        display: flex;
        gap: 24px;
      }

      .second {
        flex-direction: column;
      }

      .imgOne,
      .imgTwo,
      .imgThree,
      .imgFour {
        border-radius: 10px;
        object-fit: cover;
      }

      .imgOne {
        width: 563px;
        height: 454px;
      }

      .imgTwo {
        width: 564px;
        height: 240px;
      }

      .imgThree,
      .imgFour {
        width: 270px;
        height: 186px;
      }
    }

    .carousel-indicator-container {
      @include flex-center;
      gap: 10px;
      padding-top: 15px;

      .carousel-indicator {
        height: 4px;
        width: 100px;
        background-color: $primary-color;
        display: inline-block;
        border-radius: 10px;
      }

      .active-carousel-item {
        background-color: $secondary-color;
        opacity: 0.5;
      }
    }
  }
}

// PhysChem Props Page
.page-title-container {
  @include flex-center;
  padding-top: 50px;

  .page-title-content {
    @include page-title-style;
  }
}

.dropdown-container {
  @include flex-center;
  gap: 70px;

  .dropdown-content {
    position: relative;

    .dropdown-content-container {
      @include flex-center;
      cursor: pointer;

      .dropdown {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        color: $secondary-color;
        letter-spacing: 0.5px;
        text-align: center;
        width: 200px;
      }

      .selected {
        color: $tertiary-color;
      }

      .dropdown-arrow {
        font-size: 20px;
        color: $secondary-color;
      }
    }

    .dropdown-choices {
      position: absolute;
      width: 100%;
      background-color: $primary-color;
      text-align: center;
      border-radius: 5px;
      margin: 5px;

      .dropdown-item {
        padding: 5px;
        text-transform: capitalize;
        font-size: 14px;
        color: $secondary-color;
      }

      .dropdown-item:hover {
        background-color: $tertiary-color;
        color: $primary-color;
        border-radius: 5px;
      }
    }
  }
}

// Card
.card-container {
  width: 1152px;
  @include flex-center;
  margin: auto;
  flex-wrap: wrap;
  gap: 35px;
  padding: 30px 0px;

  .card-content {
    width: 335px;
    height: 335px;
    background-color: $secondary-color;
    border-radius: 7px;
    padding: 20px;
    @include flex-center;
    flex-direction: column;
    gap: 10px;

    .card-img {
      width: 100%;
      height: 265px;
      object-fit: cover;
      border-radius: 10px;
    }

    .card-txt {
      color: $primary-color;
      text-align: center;
      font-size: 17px;
      color: $primary-color;
      text-transform: capitalize;
    }
  }
}
