@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&display=swap");

$main-font: "Montserrat";

$primary-color: #e3e6ef;
$secondary-color: #091420;
$tertiary-color: #5f6bff;
$special-color: #efefef;
