@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.logo {
  text-decoration: none;
  font-size: 17px;
  color: #091420 !important;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.btn {
  background: #5f6bff;
  padding: 10px;
  border-radius: 50px;
  font-size: 15px;
  color: #e3e6ef;
  font-weight: 500;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  width: 120px;
  height: 35px;
}

.btn-secondary {
  width: 150px;
  height: 40px;
}

.btn-secondary-clr {
  background-color: #091420;
  color: #e3e6ef;
}

.btn-no-bg {
  background-color: transparent;
}

.btn-secondary-clr:hover {
  background-color: #5f6bff;
  color: #e3e6ef;
}

.btn-center-page {
  margin: auto;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1152px;
  margin: auto;
  justify-content: space-between;
  padding-top: 10px;
  height: 50px;
}
.nav-container a {
  text-decoration: none;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.carousel-container {
  position: relative;
  padding-bottom: 15px;
}
.carousel-container .carousel-content-container {
  width: 1152px;
  margin: auto;
}
.carousel-container .carousel-prev-next-btn {
  margin: auto;
}
.carousel-container .prev,
.carousel-container .next {
  position: absolute;
  top: 55%;
  font-size: 40px;
  color: #e3e6ef;
}
.carousel-container .next {
  right: 5%;
}
.carousel-container .prev {
  left: 5%;
}
.carousel-container .next:hover,
.carousel-container .prev:hover {
  color: #091420;
  opacity: 0.5;
  cursor: pointer;
}
.carousel-container .carousel-item {
  padding: 60px 0px;
}
.carousel-container .carousel-item .carousel-txt-content {
  width: 688px;
  height: 140px;
  margin: auto;
}
.carousel-container .carousel-item .carousel-txt-content .carousel-title {
  text-transform: uppercase;
  padding-bottom: 30px;
}
.carousel-container .carousel-item .carousel-txt-content .carousel-content,
.carousel-container .carousel-item .carousel-txt-content .carousel-title {
  text-align: center;
}
.carousel-container .carousel-item .carousel-img-container {
  width: 1152px;
  display: flex;
  gap: 24px;
  padding-top: 30px;
}
.carousel-container .carousel-item .carousel-img-container .second,
.carousel-container .carousel-item .carousel-img-container .down {
  display: flex;
  gap: 24px;
}
.carousel-container .carousel-item .carousel-img-container .second {
  flex-direction: column;
}
.carousel-container .carousel-item .carousel-img-container .imgOne,
.carousel-container .carousel-item .carousel-img-container .imgTwo,
.carousel-container .carousel-item .carousel-img-container .imgThree,
.carousel-container .carousel-item .carousel-img-container .imgFour {
  border-radius: 10px;
  object-fit: cover;
}
.carousel-container .carousel-item .carousel-img-container .imgOne {
  width: 563px;
  height: 454px;
}
.carousel-container .carousel-item .carousel-img-container .imgTwo {
  width: 564px;
  height: 240px;
}
.carousel-container .carousel-item .carousel-img-container .imgThree,
.carousel-container .carousel-item .carousel-img-container .imgFour {
  width: 270px;
  height: 186px;
}
.carousel-container .carousel-item .carousel-indicator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 15px;
}
.carousel-container .carousel-item .carousel-indicator-container .carousel-indicator {
  height: 4px;
  width: 100px;
  background-color: #e3e6ef;
  display: inline-block;
  border-radius: 10px;
}
.carousel-container .carousel-item .carousel-indicator-container .active-carousel-item {
  background-color: #091420;
  opacity: 0.5;
}

.page-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.page-title-container .page-title-content {
  width: 365px;
  color: #5f6bff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  text-align: center;
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.dropdown-container a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #091420;
  text-decoration: none;
}
.dropdown-container a:hover,
.dropdown-container a:active {
  color: #5f6bff;
}
.dropdown-container .dropdown-content {
  position: relative;
}
.dropdown-container .dropdown-content .dropdown-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dropdown-container .dropdown-content .dropdown-content-container .dropdown {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #091420;
  letter-spacing: 0.5px;
  text-align: center;
  width: 200px;
}
.dropdown-container .dropdown-content .dropdown-content-container .selected {
  color: #5f6bff;
}
.dropdown-container .dropdown-content .dropdown-content-container .dropdown-arrow {
  font-size: 20px;
  color: #091420;
}
.dropdown-container .dropdown-content .dropdown-choices {
  position: absolute;
  width: 100%;
  background-color: #e3e6ef;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}
.dropdown-container .dropdown-content .dropdown-choices .dropdown-item {
  padding: 5px;
  text-transform: capitalize;
  font-size: 14px;
  color: #091420;
}
.dropdown-container .dropdown-content .dropdown-choices .dropdown-item:hover {
  background-color: #5f6bff;
  color: #e3e6ef;
  border-radius: 5px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1152px;
  margin: auto;
  flex-wrap: wrap;
  gap: 35px;
  padding: 30px 0px;
}
.card-container .card-content,
.card-container a {
  width: 335px;
  height: 335px;
  background-color: #091420;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.card-container .card-content a,
.card-container a a {
  text-decoration: none;
}
.card-container .card-content a .card-img,
.card-container a a .card-img {
  width: 100%;
  height: 265px;
  object-fit: cover;
  border-radius: 10px;
}
.card-container .card-content a .card-txt,
.card-container a a .card-txt {
  color: #e3e6ef;
  text-align: center;
  font-size: 17px;
  color: #e3e6ef;
  text-transform: capitalize;
}

.page-container {
  width: 1152px;
  margin: auto;
  padding-top: 45px;
}
.page-container .props-title {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.page-container .props-equation-desc {
  width: 350px;
  padding-top: 20px;
}

.props-page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.form-label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.form-input {
  width: 350px;
  height: 35px;
  background-color: #e3e6ef;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  margin-bottom: 25px;
}

.formula-container {
  background-color: #091420;
  color: #e3e6ef;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
}
.formula-container .equation > .MathJax {
  margin-bottom: 30px;
}
.formula-container .label-name > .MathJax {
  text-align: left !important;
}

.table-container {
  position: relative;
}

.table-content {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #091420;
  border-radius: 10px;
  padding: 15px;
  width: 900px;
}
.table-content .table-header-item {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.54px;
  text-transform: capitalize;
  padding: 10px 40px 10px 40px;
  color: #e3e6ef;
  border-bottom: 2px solid #e3e6ef;
}
.table-content .table-body-item {
  text-align: center;
  color: #e3e6ef;
  border-bottom: 1px solid #e3e6ef;
}
.table-content .props-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.props-line-graph {
  width: 900px;
  margin: auto;
  padding-bottom: 25px;
}

.line-graph {
  height: 450px !important;
  width: 900px !important;
  background-color: #091420;
  color: #e3e6ef;
  padding: 20px;
  border-radius: 10px;
}

.modal-container-bg {
  background-color: #091420;
  opacity: 0.8;
  position: fixed;
  inset: 0;
  height: 100vh;
}

.modal-content,
.modal-container-AP {
  position: fixed;
  background-color: #efefef;
  padding: 35px 50px;
  border-radius: 10px;
}

.modal-content {
  inset: 15% 25%;
}

.modal-container-AP {
  inset: 10% 25%;
}

.modal-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-content-container .modal-content-title,
.modal-content-container .modal-content-subtitle {
  font-weight: 600;
  text-transform: capitalize;
}
.modal-content-container .modal-content-title {
  margin-bottom: 30px;
}
.modal-content-container .modal-content-subtitle {
  margin-bottom: 20px;
  align-self: flex-start;
}
.modal-content-container .modal-close-btn {
  align-self: flex-end;
  font-size: 20px;
  cursor: pointer;
}

.modal-overflow-hidden {
  overflow: hidden;
}

.register,
.login {
  width: 1152px;
  margin: auto;
  margin-bottom: 25px;
  padding-top: 0px;
}
.register .logo-container,
.login .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.register .register-content,
.login .register-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  align-items: flex-start;
}
.register .register-content .register-form-container,
.login .register-content .register-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register .register-content .register-form-container .register-title,
.login .register-content .register-form-container .register-title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.register .register-content .register-form-container .register-subtitle,
.login .register-content .register-form-container .register-subtitle {
  font-size: 13px;
  margin-bottom: 30px;
}
.register .register-content .register-form-container .register-subtitle a,
.login .register-content .register-form-container .register-subtitle a {
  text-decoration: none;
  color: #5f6bff;
}
.register .register-hero,
.login .register-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.register .register-hero .hero-upper,
.login .register-hero .hero-upper {
  display: flex;
  gap: 10px;
}
.register .register-hero .hero-upper img,
.login .register-hero .hero-upper img {
  width: 200px;
  height: 330px;
  object-fit: cover;
  border-radius: 5px;
}
.register .register-hero .hero-down,
.login .register-hero .hero-down {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
}
.register .register-hero .hero-down .left,
.login .register-hero .hero-down .left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.register .register-hero .hero-down .left img,
.login .register-hero .hero-down .left img {
  width: 270px;
  height: 132px;
  object-fit: cover;
  border-radius: 5px;
}
.register .register-hero .hero-down .right img,
.login .register-hero .hero-down .right img {
  width: 130px;
  height: 275px;
  border-radius: 5px;
}

.login {
  margin-bottom: 0px;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.login-content .login-title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.login-content .login-subtitle {
  font-size: 13px;
  margin-bottom: 30px;
  margin-bottom: 40px;
}
.login-content .login-subtitle a {
  text-decoration: none;
  color: #5f6bff;
}

.login-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.login-hero .one,
.login-hero .two,
.login-hero .three,
.login-hero .four,
.login-hero .up,
.login-hero .down {
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}
.login-hero .one {
  width: 170px;
  height: 331px;
}
.login-hero .two,
.login-hero .four {
  width: 230px;
  height: 331px;
}
.login-hero .three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.login-hero .three .up,
.login-hero .three .down {
  width: 350px;
  height: 161px;
}
.login-hero .three .up {
  border-radius: 5px;
}

.active-profile-drpdwn {
  display: block;
  position: absolute;
  top: 55px;
  right: 183px;
  background-color: #e3e6ef;
  border-radius: 10px;
  z-index: 1;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.active-profile-drpdwn hr {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  border: none;
}
.active-profile-drpdwn .header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 25px 25px 15px 25px;
}
.active-profile-drpdwn .header-container .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.active-profile-drpdwn .middle-container,
.active-profile-drpdwn .footer-container {
  padding: 25px 39px 0px 39px;
}
.active-profile-drpdwn .middle-container a {
  text-decoration: none;
}
.active-profile-drpdwn .middle,
.active-profile-drpdwn .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: normal !important;
  justify-content: flex-start !important;
  gap: 30px;
  margin-bottom: 18px;
  text-decoration: none;
}
.active-profile-drpdwn .middle .middle-icon,
.active-profile-drpdwn .middle .footer-icon,
.active-profile-drpdwn .footer .middle-icon,
.active-profile-drpdwn .footer .footer-icon {
  font-size: 25px;
  color: #091420;
}
.active-profile-drpdwn .middle h4,
.active-profile-drpdwn .footer h4 {
  font-weight: 500;
  color: #091420;
}

.content h4 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}
.content p {
  font-size: 11px;
  font-weight: 300;
}

.inactive-profile-drpdwn {
  display: none;
}

.profile-sidebar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  background-color: #efefef;
  padding: 40px 25px 20px 25px;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.profile-sidebar-container a {
  text-decoration: none;
  color: #091420;
}
.profile-sidebar-container .link-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.profile-sidebar-container .link-content .link-label {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
}
.profile-sidebar-container .link-content .link-icon {
  margin-top: 6px;
  font-size: 25px;
}

.profile-setting-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  width: 1152px;
  height: 614px;
  margin: auto;
  margin-top: 3%;
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.profile-setting-container .profile-content {
  background-color: #e3e6ef;
  width: 919.5px;
  border-radius: 0px 10px 10px 0px;
}

.personal-info-container,
.account-setting-container {
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  height: 100%;
}

.profile-setting-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 35px;
  border: 2px solid #efefef;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}
.profile-setting-header .profile-setting-image img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-setting-header .profile-setting h4 {
  padding-bottom: 10px;
}
.profile-setting-header .profile-setting p {
  font-size: 13px;
}

.personal-info,
.address-info,
.account-setting-content {
  width: 100%;
  border: 2px solid #efefef;
  border-radius: 10px;
  padding: 20px 20px 10px 20px;
}
.personal-info .header,
.address-info .header,
.account-setting-content .header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.personal-info .header .header-title,
.address-info .header .header-title,
.account-setting-content .header .header-title {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}
.personal-info .header .edit-btn,
.address-info .header .edit-btn,
.account-setting-content .header .edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #efefef;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}
.personal-info .content,
.address-info .content,
.account-setting-content .content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.personal-info .content .content-item-label,
.personal-info .content .content-item-value,
.address-info .content .content-item-label,
.address-info .content .content-item-value,
.account-setting-content .content .content-item-label,
.account-setting-content .content .content-item-value {
  font-size: 13px;
}
.personal-info .content .content-item-label,
.address-info .content .content-item-label,
.account-setting-content .content .content-item-label {
  font-weight: 200;
  text-transform: capitalize;
}
.personal-info .content .content-item-value,
.address-info .content .content-item-value,
.account-setting-content .content .content-item-value {
  font-weight: 400;
}

.account-setting-content {
  padding: 46px 55px;
}

.updating-image {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 30px;
  padding-bottom: 50px;
}

.left img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.right .content {
  display: block;
  margin-bottom: 10%;
}
.right .content p {
  margin-top: 2%;
  font-size: 14px;
  font-weight: 400;
}
.right .update-button input {
  display: none;
}

.updating-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.updating-form .form-input {
  background-color: #efefef;
  border-radius: 10px;
}

.update-button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 5px;
}
.update-button .btn-container .btn-no-bg {
  color: #091420;
}/*# sourceMappingURL=style.css.map */